.container {
  width: 400px;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}

.label label {
  margin-bottom: 5px;
}

.btn1,
.btn2 {
  width: 40%;
  height: 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  margin-right: 2px;
  cursor: pointer;
  background-color: crimson;
  color: #fff;
}
