.App {
    font-family: sans-serif;
    text-align: center;
}
.App ul {
    border: solid 1px firebrick;
    padding: 10px;
}
.App li {
    border: solid 1px firebrick;
    margin-bottom: 5px;
    padding: 10px;
    list-style-type: none;
}
